{% extends 'base.html' %}

{% block title %}cropprediction{% endblock title %}

{% block body %}  

  <!-- we do section -->

  <section class="wedo_section layout_padding section_pr">
    <div class="container" style="background-color: white;">

        <h1 class="text-center" style="padding: 2% 0% 0% 0%;">cropprediction</h1>
<div class="justify-content-center">
<form action="/cropprediction" method='POST'>
    <div class="input-group" style="padding: 2% 26% 2% 26%;">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">City Name</span>
        </div>
        <input type="text" class="form-control" name="city">
      </div>
    
      <button type="submit" class="btn btn-outline-dark" style="margin: 1% 0% 1% 44%;">Submit</button><br>

      {% if l['cod']==0 %}
      <h1 class="blockquote text-center" style="padding: 0% 0% 2% 0%;color:{{c}};">
        Please enter city name
    </h1>
    {% elif l['cod']=='404'%}
    <h1 class="blockquote text-center" style="padding: 0% 5% 2% 0%;color:red;">
      {{l['message']}}
  </h1>

      {% endif %}
  
    
    </div>
  </section>

  <!-- end we do section -->


{% endblock body %}