{% extends 'base.html' %}

{% block title %}Checker title{% endblock title %}

{% block body %}  

<link rel="stylesheet" href="{{url_for('static',filename='css/logo.css')}}">

<h1 class="text-center my-3">Get Current Weather Details</h1>
<div class="justify-content-center">
<form action="/currentwea" method='POST'>
    <div class="input-group" style="padding: 2% 26% 2% 26%;">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">City Name</span>
        </div>
        <input type="text" class="form-control" name="city">
      </div>
      <button type="submit" style="padding: 0% 1% 0% 1%; margin: 2% 47%;">Submit</button>
</form>

{% if l['0'] == 0 %}

    <h1 class="blockquote text-center">
        Please enter city name
    </h1>

{% elif l['cod']=='404'%}

<h1 class="blockquote text-center">
    {{l['message']}}
</h1>

{% else %}

    <div class="blockquote justify-content-center text-center">
        City: - {{l['name']}}
        <hr class="hr"> 
        Coordinates: -<br>
        longitude: - {{l['coord']['lon']}}<br>
        latitude: - {{l['coord']['lat']}}<br>
        <hr class="hr">
        Weather: - {{l['weather'][0]['main']}}<br> <img src=" http://openweathermap.org/img/wn/{{l['weather'][0]['icon']}}@2x.png">
        <hr class="hr">
        Temperature details: -<br>
        Temperature: - {{l['main']['temp']-273.15}} C<br>
        Feels Like: - {{l['main']['feels_like']-273.15}} C<br>
        Min Temperature: - {{l['main']['temp_min']-273.15}} C<br>
        MAx Temperature: - {{l['main']['temp_max']-273.15}} C
        <hr class="hr">
        Pressure: - {{l['main']['pressure']}}
        <hr class="hr">
        Humidity: - {{l['main']['humidity']}}
        <hr class="hr">
        Wind details: -<br>
        Speed: - {{l['wind']['speed']}}<br>
        Gust: - {{l['wind']['gust']}}
        <hr class="hr">
        Date time: - {{l['dth']}}
        <hr class="hr">


    </div>

{% endif %}
{% endblock body %}