<!-- {% extends 'base.html' %}

{% block title %}cropprediction{% endblock title %}

{% block body %}  


  <section class="wedo_section layout_padding section_pr">
    <div class="container" style="background-color: white;">
      <h1><center>
        Predicted Crop
      </center>
      </h>
      <h3>
        {{cro.Crop}}<br>
      </h3>
    <h5>
        {{cro.Details}}<br>
      </h5>
        <img src="{{url_for('static',filename='images/Crop Image/'+cro.ImgName)}}" style="width: 30%;margin: 2% 0%;">
        
    </div>
    <a href="/crop" class="btn btn-light btn-outline-dark" style="margin: 1% 0% 3% 7%;">&larr; Back</a>
  </section>



{% endblock body %} -->
