{% extends 'base.html' %}

{% block title %}Forecast{% endblock title %}

{% block body %}

  <!-- we do section -->

  <section class="wedo_section layout_padding section_pr">
    <div class="container" style="background-color: white;">

      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>

      <h1 class="text-center" style="padding: 2% 0% 0% 0%;">Weather Forcest of next 5 days</h1>
      
      <div class="justify-content-center">
        <form action="/forecast" method='POST'>
            <div class="input-group" style="padding: 2% 26% 2% 26%;">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">City Name</span>
                </div>
                <input type="text" class="form-control" name="city">
              </div>
              <button type="submit" class="btn btn-outline-dark" style="margin: 1% 0% 1% 44%;">Submit</button>
        </form>
        
        {% if l['0'] == 0 %}
        
            <h1 class="blockquote text-center" style="padding: 0% 0% 2% 0%;">
                Please enter city name
            </h1>
        
        {% elif l['cod']=='404'%}
        
        <h1 class="blockquote text-center" style="padding: 0% 0% 2% 0%;">
            {{l['message']}}
        </h1>
        
        {% else %}
      
        <!-- TODO main, description -->
      <div class="container text-center">
      
          <h1>Weather Details: - </h1><br>
          <h4>City: - {{l['city']['name']}}</h4>
         <h5>
        <select class="mdb-select md-form" style="margin: 2% 0%; padding: 1% 2% 1% 2%; border-radius: 25%">
          
          {% for i in we%}
          <option>
            Time: - {{i}}
            Main: - {{we[i]['main']}}
            Description: - {{we[i]['description']}}
           </option>
          {% endfor %}
        
        </select>
      </h5>
      </div>
      
      <canvas id="temperature" width="1200" height="500" style="margin-top: 5%; margin-left: auto; margin-right: auto;"></canvas>
      
      <canvas id="wind" width="1200" height="500" style="margin-top: 5%; margin-left: auto; margin-right: auto;"></canvas>
      
      <canvas id="pressure" width="1200" height="1000" style="margin-top: 5%; margin-left: auto; margin-right: auto;"></canvas>
      
      <canvas id="hummidity" width="1200" height="500" style="margin-top: 5%; margin-left: auto; margin-right: auto;"></canvas>
      
      <script>
        let d=JSON.parse({{ d | tojson}})
        let t=JSON.parse({{ t | tojson}})
        let h=JSON.parse({{ h | tojson}})
        let w=JSON.parse({{ w | tojson}})
        let p=JSON.parse({{ p | tojson}})
        
        var tem=document.getElementById("temperature").getContext("2d");
        var temperature= new Chart(tem,{
          type: "line",
          data: {
            labels: d,
            datasets: [
              {
                label: "Changing temperature",
                data: t,
                fill: true,
                borderColor: "rgb(204, 0, 0)",
                lineTension: 0.5
              
            }
            ]
          },
          options:{
            responsive: false
          }
        });
      
        var win=document.getElementById("wind").getContext("2d");
        var wind= new Chart(win,{
          type: "line",
          data: {
            labels: d,
            datasets: [
              {
                label: "Changing Wind Speed",
                data: w,
                fill: true,
                borderColor: "rgb(75,192,192)",
                lineTension: 0.5
              
            }
            ]
          },
          options:{
            responsive: false
          }
        });
      
        var per=document.getElementById("pressure").getContext("2d");
        var pressure= new Chart(per,{
          type: "line",
          data: {
            labels: d,
            datasets: [
              {
                label: "Changing Pressure",
                data: p,
                fill: true,
                borderColor: "rgb(0,102,51)",
                lineTension: 0.5
              
            }
            ]
          },
          options:{
            responsive: false
          }
        });
      
        var hum=document.getElementById("hummidity").getContext("2d");
        var hummidity= new Chart(hum,{
          type: "line",
          data: {
            labels: d,
            datasets: [
              {
                label: "Changing humidity",
                data: h,
                fill: true,
                borderColor: "rgb(96,96,96)",
                lineTension: 0.5
              
            }
            ]
          },
          options:{
            responsive: false
          }
        });
      
      </script> 
      
      {% endif %}
      

    </div>
  </section>


{% endblock body %}